body
{
    font-family: "Helvetica Neue", sans-serif;
}

nav
{
    height: 60px;
    background-color: #63C6C3;
    color: white;
}
nav ul
{
    display: flex;
}

nav ul li
{
    margin-left: 15px;
    margin-top: 20px;

}

.logo
{
    margin-top: 7px;
}

.logo img
{
    width: 75px;
    height: auto;
}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

nav ul li a:hover
{
    color: #105B57;
}

.sub-nav
{
    background-color: #53A4D6;
    height: 40px;
}

.sub-nav ul
{
    display: flex;
    margin-left: 20px;
}

.sub-nav ul li
{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
}

.sub-nav ul li a
{
    text-decoration: none;
    font-weight: bold;
    color: #0F4555;
    font-size: 13px;
    text-align: center;

}

.sub-nav ul li a:hover
{
    color: white;
}

.banner
{
    height: 300px;
    background-image: url("../images/journaal.png");
    background-position: 30%;
    background-size: 100% auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner img
{
    max-width: 300px;
    height: auto;
}

.sub-banner
{
    background-color: #53A4D6;
    height: 25px;
}

.description
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.description h1
{
    font-size: 25px;
    margin-bottom: 10px;
}

.description h2
{
    margin-bottom: 10px;
}

.description p
{
    width: 60%;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.videotool
{
    height: 250px;
}

footer
{
    height: 60px;
    background-color: #63C6C3;
}
