body
{
    font-family: "Helvetica Neue", sans-serif;
}

nav
{
    height: 60px;
    background-color: #63C6C3;
    color: white;
}
nav ul
{
    display: flex;
}

nav ul li
{
    margin-left: 15px;
    margin-top: 20px;

}

.logo
{
    margin-top: 7px;
}

.logo img
{
    width: 75px;
    height: auto;
}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

nav ul li a:hover
{
    color: #105B57;
}

.sub-nav
{
    background-color: #53A4D6;
    height: 40px;
}

.sub-nav ul
{
    display: flex;
    margin-left: 20px;
}

.sub-nav ul li
{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
}

.sub-nav ul li a
{
    text-decoration: none;
    font-weight: bold;
    color: #0F4555;
    font-size: 13px;
    text-align: center;

}

.sub-nav ul li a:hover
{
    color: white;
}

.banner
{
    height: 300px;
    background-image: url("../images/journaal.png");
    background-position: 30%;
    background-size: 100% auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner img
{
    max-width: 600px;
    height: auto;
}

.sub-banner
{
    background-color: #53A4D6;
    height: 25px;
}

.description
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.description h2
{
    margin-bottom: 10px;
}

.description p
{
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.videotool
{
    height: 250px;
    display: block;
    margin: auto;
    width: 60%;
    
}

.video
{
    float: left;
    display: block;
    width: 40%;
}
.formulier
{
    float: right;
    display: block;
    width: 55%;
    border-width: 3px;    
    border: solid;
    border-color: darkblue;
    margin-left: 20px;
    justify-content: center;
}

.formulierblock
{
    display: block;
    margin-bottom: 10px;
}

.TSbeschrijving
{
    float:left; 
    display:inline;  
}

.timestamps
{
    float:left; display:inline;
    margin-right: 10px;
}
.vantot
{
    float:left; display:inline;
    margin-right: 10px;
    color: gray;
    
}
/*.newline
{
    display: block;    
}*/
.delen
{
    display: block;
    margin: auto;
    width: 140px;
    margin-top: 50px;
}
.knopdelen
{
    display: block;
    margin: auto;
    width: 50px;
    margin top: 10px;
    margin-bottom: 40px;
}

.probeerknop
{
    display:block;
    background-color: dodgerblue;
    color: white;
    width:210px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    margin-top:30px;
    border-radius:10px;
    margin-bottom:50px;
}
.timestampknopstart
{
        display:block;
    background-color: dodgerblue;
    color: white;
    width:150px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    margin-top:20px;
    border-radius:10px;
    margin-bottom:50px;
    float: left;
}
.timestampknopeinde
{
        display:block;
    background-color: dodgerblue;
    color: white;
    width:150px;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    margin-top:20px;
    border-radius:10px;
    margin-bottom:50px;
    float: right;
}
footer
{
    height: 60px;
    background-color: #63C6C3;
}