@font-face
{
    font-family: "Gotham Medium";
    src: url(../fonts/Gotham-Medium.otf);
}

@font-face
{
    font-family: "Gotham Book";
    src: url(../fonts/Gotham-Book.otf);
}

@font-face
{
    font-family: "Gotham Book Italic";
    src: url(../fonts/Gotham-BookIta.otf);
}

body
{
    font-family: "Gotham Book", sans-serif;
}

nav
{
    height: 60px;
    background-color: #63C6C3;
    color: white;
}
nav ul
{
    display: flex;
}

nav ul li
{
    margin-left: 15px;
    margin-top: 20px;

}

.logo
{
    margin-top: 7px;
}

.logo img
{
    width: 75px;
    height: auto;
}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-family: "Gotham Medium";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

nav ul li a:hover
{
    color: #105B57;
}

.sub-nav
{
    background-color: #53A4D6;
    height: 40px;
}

.sub-nav ul
{
    display: flex;
    margin-left: 20px;
}

.sub-nav ul li
{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
}

.sub-nav ul li a
{
    text-decoration: none;
    font-family: "Gotham Medium";
    font-weight: bold;
    color: #0F4555;
    font-size: 13px;
    text-align: center;

}

.sub-nav ul li a:hover
{
    color: white;
}

section .description
{
    margin-bottom: 20px;
}
.banner
{
    height: 300px;
    background-image: url("../images/journaal.png");
    background-position: 30%;
    background-size: 100% auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner img
{
    max-width: 350px;
    height: auto;
}

.sub-banner
{
    background-color: #53A4D6;
    height: 25px;
    margin-bottom: 100px;
}

.description
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 90px;
}

.description h1
{
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Gotham Medium";
}

.description h2
{
    margin-bottom: 10px;
    font-family: "Gotham Medium";
}

.description p
{
    width: 100%;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.button
{
    background-color: #53A4D6;
    display: block;
    font-weight: bold;
    width:50%;
    margin: 0 auto;
}

.button a
{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 20px 20px 20px;
    text-align: center;

}

.button:hover
{
    background-color: #0F4555;
}


.description-img img
{
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 50px;
}

.quote
{
    height: 350px;
    background-color: #63C6C3;
    text-align: center;
    color: #0F4555;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.quote h3
{
    font-family: "Gotham Book Italic";
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

.quote span
{
    font-family: "Gotham Book";
    font-weight: 600;
}

.quote img
{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    margin-bottom: 25px;
    border:2px solid #105B57;
}



.videotool
{
    height: 400px;
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*border-width: 3px;    
    border: solid;
    border-color: darkblue;*/
    background-color:aliceblue;
    
}

.video
{
    float: left;
    display: block;
    width: 35%;
}
.formulier
{
    float: right;
    display: block;
    width: 50%;
    /*border-width: 3px;    
    border: solid;
    border-color: darkblue;*/
    margin-left: 30px;
    justify-content: center;
    padding-left: 0px;
}

.formulierblock
{
    display: block;
    margin-bottom: 10px;
}

.TSbeschrijving
{
    float:left; 
    display:inline;  
}

.timestamps
{
    float:left; display:inline;
    margin-right: 10px;
}
.vantot
{
    float:left; display:inline;
    margin-right: 10px;
    color: gray;
    
}
/*.newline
{
    display: block;    
}*/
.delen
{
    display: block;
    margin: auto;
    width: 400px;
    margin-top: 50px;
}
.knopdelen
{
    display: block;
    margin: auto;
    width: 200px;
    margin top: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.probeerknop
{
    display: inline-block;
    background-color: dodgerblue;
    color: white;
    width:210px;
    padding:30px;
    margin-top:30px;
    /*border-radius:10px;*/
    margin-bottom:50px;
    float: left;
    position: relative;
    left: -50%;
    background-image: url("../images/button.png");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center; 
    border: none;
}

.probeerknop:active
{
    background-color: aquamarine;
}

.bottom
{
        float: left;
    position: relative;
    left: 50%;
}

.startstop
{
    display: block;
}

.timestampknopstart
{
        display:block;
    background-color: dodgerblue;
    color: white;
    width:150px;
    /*margin-left:auto;
    margin-right:auto;*/
    padding:10px;
    margin-top:20px;
    /*border-radius:10px;*/
    margin-bottom:50px;
    float: left;
     border:none;
}

.timestampknopstart:active
{
    background-color: aquamarine;
}

.timestampknopeinde
{
    display:block;
    background-color: dodgerblue;
    color: white;
    width:150px;
    /*margin-left:auto;
    margin-right:auto;*/
    padding:10px;
    margin-top:20px;
    /*border-radius:10px;*/
    margin-bottom:50px;
    margin-right: 55px;
    float: right;
     border:none;
}

.timestampknopeinde:active
{
    background-color: aquamarine;
}


footer
{
    height: 60px;
    background-color: #63C6C3;
}

.boven
{
    width: 100%;
    display: block;
    /*border-width: 3px;    
    border: solid;
    border-color: darkblue;*/
    float: left;
    padding-bottom: 30px;
}

.dropdown
{
    float: left;
    margin-left: 10px;
}
.aantal
{
    float: left;
    
}

.titel
{
    float: right;
    margin-left: 20px;
    width: 70%;
}

.titellabel
{
float: left;
    display: block;
}

.titelfield
{
    margin-left: 10px;
    width: 93%;
    display: block;
    float: right;
}

.info
{
    height: auto;
    background-color: #53A4D6;

}


footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #423E3E;
}

footer p
{
   font-weight: bold;
    color: #ffffff;
    text-align: justify;

}