header{
    width: 100%;
    
}

.bovenstebalk{
    background-color: #00c6b4;
    color: white;
}

.onderstebalk{
    background-color: #00A6E2;
    display: block;
    float: inherit;
}

.probeerknop{
    width: 100%;
    text-align: center;
    box-shadow: none;
    background-color:#326086;
    padding-top:10px;
    padding-bottom:10px;
    margin:10px;
    border:none;
    font-weight:bold;
    color:white;
    text-decoration:none;
    font-size:0.8em;
    padding-left:35px;
    padding-right:34px;
    margin-top:100px;
}